profiles.clj
/target
/lib
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/copy-client-prod-to-staging
/dump-staging-to-local
*.pdf
/profiles.clj
.DS_Store
.eastwood
/test-results
build.xml
/.calva
/.envrc
/tmp

# intellij files
*.iml

/.secrets.edn
/docs/.dir-locals.el
/.cpcache/
/log/
/.clj-kondo
!/.clj-kondo/config.edn
/.lsp/.cache
/.lsp/*db
.idea/*

# Temp Files
*.orig
*~
.*.swp
.*.swo
*.tmp
*.bak
*#
.#*
/.env

# oh-my-zsh dotenv file
.zshdotenv