name: Format clojure source using zprint
on:
  pull_request:
    types: [closed]

jobs:
  format-and-commit:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: read
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: Prepare java
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '11'
      - name: Install clojure tools
        uses: DeLaGuardo/setup-clojure@de2d5623fda4ca49da1bac85fdfb3081a037c5fb # v10.2
        with:
          cli: 'latest'
          lein: 2.9.1
          bb: 'latest'
          clj-kondo: 'latest'
          zprint: 1.2.5
      - name: Get Clojure version
        run: clojure --version
      - name: Get zprint version
        run: zprint --version
      # - id: changed_files
      #   name: Get all added and modified files
      #   uses: masesgroup/retrieve-changed-files@076a92699259d81d1c607bd91f0e1e9d45fd3151 # v2
      - name: Format the code
        run: |
          dir="`pwd`"
          # echo ${{ steps.changed_files.outputs.added_modified }} ${{ steps.changed_files.outputs.renamed }} | bb -i -o '(mapcat #(str/split %1 #" +") *input*)' | grep -i -E '.*\.edn$|.*\.clj[sc]?$' | xargs --verbose zprint --url-only "file://${dir}/.zprint.edn" --formatted-summary-write
          #find dev src src-reports src-shared test test-reports -regextype egrep -iregex '.*\.edn$|.*\.clj[sc]?$' -type f -print0 | xargs -0 --verbose zprint --url-only "file://${dir}/.zprint.edn" --formatted-summary-write
          owner_name="${{ github.event.organization }}"
          repo_name="${{ github.event.repository }}"
          pr_number="${{ github.event.number }}"
          pr_url="https://api.github.com/repos/${owner_name}/${repo_name}/pulls/${pr_number}/files"

          echo "OWNER: $owner_name , REPO: $repo_name , PR Number: $pr_number"
          echo "PR_URL: $pr_url"

          files_to_format=$(curl --silent -L -H "Accept: application/vnd.github+json" -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" -H "X-GitHub-Api-Version: 2022-11-28" $pr_url | jq '.[].filename' | bb -i -o '(filter (fn [f] (fs/exists? (str/replace f "\"" ""))) *input*)')
          echo "FILES: $files_to_format"
          echo $files_to_format | xargs --verbose zprint --url-only "file://${dir}/.zprint.edn" --formatted-summary-write
      # - name: Commit changes
      #   uses: EndBug/add-and-commit@06d5ce73159a844acd53934e8ab33aee68ee3fd0 # v9.1.1
      #   with:
      #     default_author: github_actions
