name: Format clojure source using zprint
on:
  pull_request:
    types: [closed]

jobs:
  format-and-commit:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: read
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: Prepare java
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '11'
      - name: Install clojure tools
        uses: DeLaGuardo/setup-clojure@@de2d5623fda4ca49da1bac85fdfb3081a037c5fb # v10.2
        with:
          cli: 'latest'
          lein: 2.9.1
          bb: 'latest'
          clj-kondo: 'latest'
          zprint: 1.2.5
      - name: Get Clojure version
        run: clojure --version
      - name: Get zprint version
        run: zprint --version
      - id: changed_files
        name: Get all added and modified files
        uses: masesgroup/retrieve-changed-files@076a92699259d81d1c607bd91f0e1e9d45fd3151 # v2
      - name: Format the code
        run: |
          dir="`pwd`"
          echo ${{ steps.changed_files.outputs.added_modified }} ${{ steps.changed_files.outputs.renamed }} | bb -i -o '(mapcat #(str/split %1 #" +") *input*)' | grep -i -E '.*\.edn$|.*\.clj[sc]?$' | xargs --verbose zprint --url-only "file://${dir}/.zprint.edn" --formatted-summary-write
      - name: Commit changes
        uses: EndBug/add-and-commit@06d5ce73159a844acd53934e8ab33aee68ee3fd0 # v9.1.1
        with:
          default_author: github_actions
