name: Format clojure source using zprint
on:
  pull_request:
    branches:
      - '*'

jobs:
  format-and-commit:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: Prepare java
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '11'
      - name: Install clojure tools
        uses: DeLaGuardo/setup-clojure@10.2
        with:
          cli: 'latest'
          lein: 2.9.1
          bb: 'latest'
          clj-kondo: 'latest'
          zprint: 1.2.5
      - name: Cache clojure dependencies
        uses: actions/cache@v3
        with:
          path: |
            ~/.m2/repository
            ~/.gitlibs
            ~/.deps.clj
          # List all files containing dependencies:
          key: cljdeps-${{ hashFiles('deps.edn', 'project.clj', 'bb.edn') }}
          restore-keys: cljdeps-
      - name: Get Clojure version
        run: clojure --version
      - name: Get zprint version
        run: zprint --version
      - name: Format the code 
        run: find src test -regextype egrep -iregex '.*\.edn$|.*\.clj[sc]?$' -type f -print0 | xargs -0 zprint --url-only "file://./.zprint.edn" --formatted-summary-write
      - name: Commit changes
        uses: EndBug/add-and-commit@v9
        with:
          default_author: github_actor
