name: Format clojure source using zprint
on:
  pull_request:
    types: [closed]

jobs:
  format-and-commit:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: read
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: Prepare java
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '11'
      - name: Install clojure tools
        uses: DeLaGuardo/setup-clojure@de2d5623fda4ca49da1bac85fdfb3081a037c5fb # v10.2
        with:
          cli: 'latest'
          lein: 2.9.1
          bb: 'latest'
          clj-kondo: 'latest'
          zprint: 1.2.5
      - name: Get Clojure version
        run: clojure --version
      - name: Get zprint version
        run: zprint --version
      - name: Format the code
        run: |
          repo_full_name="${{ github.event.repository.full_name }}"
          pr_number="${{ github.event.number }}"
          pr_url="https://api.github.com/repos/${repo_full_name}/pulls/${pr_number}/files"

          echo "REPO: $repo_full_name , PR Number: $pr_number"
          echo "PR_URL: $pr_url"

          files_in_pr=$(curl --silent -L -H "Accept: application/vnd.github+json" -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" -H "X-GitHub-Api-Version: 2022-11-28" $pr_url | bb -i -o '(->> *input* (str/join "") (#(json/decode %1 true)) (map :filename) (filter fs/exists?))')
          echo "FILES in PR: $files_in_pr"

          dir="`pwd`"
          echo $files_in_pr | grep -i -E '.*\.edn$|.*\.clj[sc]?$' | xargs --verbose zprint --url-only "file://${dir}/.zprint.edn" --formatted-summary-write
      - name: Commit changes
        uses: EndBug/add-and-commit@06d5ce73159a844acd53934e8ab33aee68ee3fd0 # v9.1.1
        with:
          default_author: github_actions
